/* Avenir Next LT Pro - Self-hosted from Zelis brand fonts */

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/avenir/avenir_next_lt_pro_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/avenir/avenir_next_lt_pro_medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/avenir/avenir_next_lt_pro_demi.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/avenir/avenir_next_lt_pro_bold.woff2') format('woff2');
}
